<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CWSPS_Lookbook::menu" title="Lookbook Menu" translate="title" module="CWSPS_Lookbook" sortOrder="20"
             parent="Magento_Backend::content" resource="CWSPS_Lookbook::lookbook" dependsOnConfig="general/lookbook/enabled"/>
        <add id="CWSPS_Lookbook::lookbook" title="Lookbook" translate="title" module="CWSPS_Lookbook" sortOrder="0"
             parent="CWSPS_Lookbook::menu" action="lookbook/index/index" resource="CWSPS_Lookbook::lookbook"/>
    </menu>
</config>
